*~
conf/*/*.example
conf/*/*/*.example
conf/*/*/*/*.example
conf/*/portage/.keep_sys-apps_portage-0
conf/*/portage/bashrc.entropy
conf/*/portage/bin/
conf/*/portage/postsync.d/
conf/*/portage/savedconfig/
conf/*/entropy/brokenlibsmask.conf
conf/*/entropy/brokenlinksmask.conf
conf/*/entropy/brokensyms.conf
conf/*/entropy/client.conf
conf/*/entropy/entropy.conf
conf/*/entropy/fsdirs.conf
conf/*/entropy/fsdirsmask.conf
conf/*/entropy/fsldpaths.conf
conf/*/entropy/fssymlinks.conf
conf/*/entropy/packages/license.accept.d/
conf/*/entropy/packages/license.mask.d/
conf/*/entropy/packages/package.mask.d/
conf/*/entropy/packages/package.unmask.d/
conf/*/entropy/packages/system.mask
conf/*/entropy/packages/system.mask.d/
conf/*/entropy/repositories.conf
conf/*/entropy/repositories.conf.d/
conf/*/repo/sabayonlinux.org/ChangeLog*
conf/*/repo/sabayonlinux.org/make.conf
conf/*/repo/sabayonlinux.org/make.profile
conf/*/repo/sabayonlinux.org/packages.db
conf/*/repo/sabayonlinux.org/packages.db.bz2
conf/*/repo/sabayonlinux.org/packages.db.bz2.md5
conf/*/repo/sabayonlinux.org/packages.db.dumplight.bz2
conf/*/repo/sabayonlinux.org/packages.db.dumplight.bz2.md5
conf/*/repo/sabayonlinux.org/packages.db.eapi3_updates
conf/*/repo/sabayonlinux.org/packages.db.extra_pkglist
conf/*/repo/sabayonlinux.org/packages.db.light
conf/*/repo/sabayonlinux.org/packages.db.light.bz2
conf/*/repo/sabayonlinux.org/packages.db.light.bz2.md5
conf/*/repo/sabayonlinux.org/packages.db.light_eapi2.tmp
conf/*/repo/sabayonlinux.org/packages.db.md5
conf/*/repo/sabayonlinux.org/packages.db.meta
conf/*/repo/sabayonlinux.org/packages.db.meta_notfound
conf/*/repo/sabayonlinux.org/packages.db.pkglist
conf/*/repo/sabayonlinux.org/packages.db.revision
conf/*/repo/sabayonlinux.org/packages.db.timestamp
conf/*/repo/sabayonlinux.org/packages.db.webinst_updates
conf/*/repo/sabayonlinux.org/package.keywords
conf/*/repo/sabayonlinux.org/package.unmask
conf/*/repo/sabayonlinux.org/packages.rss
conf/*/repo/sabayonlinux.org/package.use
conf/*/repo/sabayonlinux.org/updates.rss
conf/*/repo/sabayonlinux.org/packages.db.lock
conf/*/repo/sabayonlinux.org/packages.db.tainted
